{
  "env": {
    "production": {
      "presets": ["react"],
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    },
    "development": {
      "presets": ["react"],
      "plugins": ["react-hot-loader/babel", "transform-class-properties", "transform-object-rest-spread"]
    }
  }
}
